body {
  font-family: sans-serif;
  font-size: 0.9rem;
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
}

.menu section {
  background-color: white;
}

.unimportant {
  font-size: 11px;
  color: grey;
  font-weight: bold;
}

.item-preco {
  display: flex;
  justify-content: space-between;
}

.item-preco .preço {
  font-weight: bold;
}

.section-title {
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 0 15px; /* Espaçamento entre o título e as bordas */
  white-space: nowrap; /* Impede a quebra de linha do título */
  /* margin-top: -10px; */
}
